/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/**
 * Font face
 */
/* Open Sans */
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/opensans/OpenSans-Regular.woff);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/opensans/OpenSans-Bold.woff);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/opensans/OpenSans-ExtraBold.woff);
}
@font-face {
  font-family:OpenSans-Light;
  src: url(../fonts/opensans/OpenSans-Light.woff);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/opensans/OpenSans-Italic.woff);
}@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(../fonts/opensans/OpenSans-BoldItalic.woff);
}
@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url(../fonts/opensans/OpenSans-SemiboldItalic.woff);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/opensans/OpenSans-Semibold.woff);
}
/* End */

.inside,
.panel-flexible-inside .panels-flexible-region-inside,
.panel-flexible-inside .panels-flexible-region-inside-first,
.panel-flexible-inside .panels-flexible-region-inside-last {
  padding: 0;
}

body {
  font-family: OpenSans-Regular;
  color: #3e474c;
}
a:focus { outline: none; }

/**
 * Header
 */
#navbar {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #284473;
  color: #fff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
#navbar .navbar-header {
  display: inline-block;
  width: auto;
}
#navbar .region-top-header {
  float: left;
  width: 100%;
  max-width: 500px;
  padding: 50px 100px;
  color: rgba(255, 255, 255, 0.5);
  font-family: OpenSans-Italic;
  font-size: 16px;
}
#navbar .navbar-collapse {
  float: left;
  clear: both;
  width: 100%;
  padding: 0;
  border-top: 1px solid #7c092a;
  border-bottom: 1px solid #7b0a28;
  background: #c10d3d;
  background: -moz-linear-gradient(top, #c10d3d 0%, #a00934 100%);
  background: -webkit-linear-gradient(top, #c10d3d 0%,#a00934 100%);
  background: linear-gradient(to bottom, #c10d3d 0%,#a00934 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10d3d', endColorstr='#a00934',GradientType=0 );
  color: #fff;
}
#navbar .navbar-collapse > nav {
  /*border-top: 1px  solid rgba(123, 10, 40, 0.7);*/
}

#block-system-main-menu > .block-title {
  display: none;
}

/* Navigation menu */
#block-system-main-menu {
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#block-system-main-menu .menu {
  float: none;
  display: inline-block;
  width: auto;
  line-height: normal;
  vertical-align: middle;
}
#block-system-main-menu .menu li {
  float: left;
  display: inline-block;
}
#block-system-main-menu .menu li a {
  display: inline-block;
  padding: 15px 30px;
  background: url("../images/main-menu-divider.png");
  background-repeat:  no-repeat;
  background-position:  right center;
  background-size:  auto 100%;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  vertical-align: middle;
  text-transform: uppercase;
}
#block-system-main-menu .menu li.first a:before {
  display: inline-block;
  height: 24px;
  width: 31px;
  margin: 0 10px -5px 0;
  background: url("../images/home-icon.png");
  background-repeat:  no-repeat;
  background-position:  right center;
  background-size:  auto 100%;
  content: "";
}
#block-system-main-menu .menu li.last a {
  background: transparent;
}
#block-system-main-menu .menu li a.active, 
#block-system-main-menu .menu li a:hover,
#block-system-main-menu .menu li a:focus {
  background-color: #8A0A2D;
}
/* End */


/**
 * Image slider and Login form
 */
.page-home .page-header { display: none; }
.home-slider-form {
  display: inline-block;  
  width: 100%;
}
.page-home #block-md-slider-home-page-slider,
.page-home .custom-grid .panels-flexible-region-first {
  float: left;
  width: calc(75% - 20px);
  margin: 0 20px 0 0;
}
.page-home #block-user-login {
  float: left;
  width: 25%;
  margin: 0;
  padding: 15px;
  border: 1px solid #b0b0b0;
}
.page-home .custom-grid .panels-flexible-region-last {
  float: left;
  width: 25%;
  margin: 0;
}
.page-home .custom-grid .panels-flexible-region-last img {
  height: auto;
  width: 100%;
  max-width: 295px;
}
.home-slider-form .panels-flexible-region-last ul {
  padding: 0;
  list-style: none;
}
.home-slider-form .panels-flexible-region-last li a {
  color: #AFAFAF;
}
.logged-in #block-md-slider-home-page-slider {
  width: 100%;
  margin: 0;
}
/* End */


/**
 * About Us and Get a Quote
 */
.pane-title {
  margin: 0 0 20px 0;
  color: #3E4649;
  font-family: OpenSans-Semibold;
  font-size: 24px;
}
.home-about-quote {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first {
  float: left;
  width: calc(75% - 20px);
  margin: 0 20px 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-block-1 {
  display: inline-block;
  width: 100%;
}
.home-about-quote .about-image {
  float: left;
  width: 60%;
}
.home-about-quote .about-text {
  float: left;
  width: 40%;
}
.home-about-quote .panels-flexible-region-first .pane-block-1 img {
  float: left;
  margin: 0 30px 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 {
  display: inline-block;
  width: 100%;
  margin: 20px 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .pane-content {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content .views-row {
  float: left;
  display: inline-block;
  width: 32%;
  margin: 0 2% 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content .views-row:last-child {
  margin-right: 0;
}

.home-about-quote .panels-flexible-region-last {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
.about-image {
  float: left;
}
.home-about-quote .about-text h2 {
  margin: 0;
  color: #3F71C6;
  font-size: 24px;
}
.title-info {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
  color: #88898B;
  border-bottom: 2px dotted #ccc;
  /*background-image: url('../images/booted-line.png');
  background-size: 300px 2px;
  background-repeat: no-repeat;
  background-position: bottom;
  content: "";*/
}
.views-more-link {
  display: inline-block;
  width: 100%;
  max-width: 130px;
  padding: 10px 15px;
  margin: 10px 0 0 0;
  background-color: #E2EBF2;
  color: #274577;
  clear: both;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.views-more-link:after {
  display: inline-block;
  height: 10px;
  width: 7px;
  margin: 0 0 0 5px;
  background-image: url('../images/right-arrow.png');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: right center;
  content: "";
}
.views-more-link:hover {
  text-decoration: none;
}

/* Get a Quote */
.get-a-qoute {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border: 1px solid #b0b0b0;
}
.get-a-qoute .pane-title {
  padding: 20px;
  margin: 0;
  background-color: #022B69;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.get-a-qoute .pane-content {
  padding: 20px;
  background-color: #022B69;
}
.get-a-qoute label { display: none; }
.get-a-qoute .pane-content input {
  border: none;
}
.get-a-qoute .pane-content .form-submit {
  background-color: #63B2F5;
}
/* End */
  
/* How it Works? */
.pane-views-how-it-works-block-1 .views-field-title {
  display: inline-block;
  width: 100%;
  padding: 25px 0 0 0;
}
.pane-views-how-it-works-block-1 .views-field-title span {
  color: #0DCAF2;
  font-size: 18px;
}
.pane-views-how-it-works-block-1 .views-field-title .Step-2--Exchange { color: #D9B59B; }
.pane-views-how-it-works-block-1 .views-field-title .Step-3--Deal-Close { color: #DE5C5A; }
.pane-views-how-it-works-block-1 .views-field-field-growth {
  display: inline-block;
  width: 100%;
  padding: 0 0 25px 0;
  color: #B1B3B2;
}
.pane-views-how-it-works-block-1 .views-field-body .views-more-link {
  display: block;
}
/* End */


/**
 * Footer
 */
.footer {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  background-color: #284473;
  color: #e3eaf0;
}
.footer a:before {
  display: inline-block;
  height: 10px;
  width: 7px;
  margin: 0 5px 0 0;
  background-image: url('../images/footer-arrow.png');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: right center;
  content: "";
}
.footer a { color: #e3eaf0; }
.footer li a:hover,
.footer li a:focus {
  background-color: transparent;
}
.footer .region-footer {
  display: inline-block;
  width: 100%;
}

.footer #block-block-5,
.footer #block-menu-menu-footer-link-1,
.footer #block-menu-menu-footer-link-2 {
  float: left;
  width: 30%;
}
.footer #block-menu-menu-footer-link-1 {
  width: 40%;
}
.footer #block-block-7 {
  display: inline-block;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #324F7B;
}
/* End */


/**
 * Main content
 */
.main-white-header {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}
.main-grey-container {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  background-color: #F3F4F9;
}
.main-custom-content {
  float: left;
  width: calc(70% - 20px);
  margin: 0 20px 0 0;
}
.main-custom-content-right{
  float: left;
  width: 30%;
}

/* Breadcrumb */
.breadcrumb {
  padding: 0;
  background-color: transparent;
}
.breadcrumb li {
  color: #959595;
  font-size: 13px;
}
.breadcrumb li a {
  color: #125fb0;
  font-size: 13px;
}

/* page title */
.page-header {
  margin: 0;
  color: #3B454E;
  border: none;
  font-family: OpenSans-ExtraBold;
  font-size: 30px;
  text-transform: uppercase;
}
.red-text {
  color: #ff0045;
  padding-right: 10px;
}
/* End */

/* tab design */
.nav-tabs {
  margin: 0 0 30px 0;
  border: none;
}
.nav-tabs li {
  margin: 0 5px 0 0;
}
.nav-tabs li a {
  background-color: #e2eaf2;
  color: #000;
  border: none;
}
.nav-tabs li a:hover,
.nav-tabs li a.active,
.nav-tabs li a.active:hover {
  background-color: #63B2F5;
  color: #fff;
  border: none;
}

/* quicktabs tab design */
.quicktabs-tabs {
  display: inline-block;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
}
.quicktabs-tabs li {
  display: inline-block;
}
.user-profile-dashboard-link {
  display: inline-block;
  border-bottom: 3px solid gray;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.trade-profile-dashboard-link {}
.quicktabs-tabs li a {
  padding: 10px;
  background-color: #e2eaf2;
  color: #000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.quicktabs-tabs li.active a {
  background-color: #63B2F5;
  color: #fff;
}

#quicktabs-tab-dashboard-1 { display: none;}
#edit-timezone { display: none;}
/* End */

/* Form design */
.not-logged-in .form-item input.form-text {
  max-width: 265px;
  height: 40px;
}
.form-item input {
  -webkit-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
    -moz-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
         box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
}
input[type="file"] {
  height: 40px;
}
input[type="file"] + .input-group-btn button {
  display: inline-block;
  width: auto;
}
.form-actions  {
  padding-top: 15px;
}
.btn {
  height: 40px;
  max-width: 265px;
  width: 100%;
  border: none;
  background-color: #032B69;
  color: #fff;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: #032B69;
  color: #fff;
  outline: none;
}
.form-type-password-confirm > label,
.form-textarea-wrapper .grippie { display: none; }
.form-item label {
  font-weight: normal;
  font-size: 15px;
}

/* Radio button*/
.form-radios .form-type-radio {
  display: inline-block;
  margin: 0 30px 0 0;
}
.input-rc {
  display: inline-block;
}
.form-type-radio label {
  padding: 0;
  font-size: 16px;
}
.form-type-radio input[type="radio"] {
  display: none;
}
.input-rc input[type="radio"] + .input-rc-span {
  float: left;
  display: inline-block; 
  height: 18px;
  width: 19px;
  margin: 3px 5px -3px 0;
  background: url(../images/radio.png) no-repeat;
  content: "";
  cursor:pointer;
}
.input-rc input[type="radio"]:checked + .input-rc-span {
  background: url('../images/radio-checked.png') no-repeat;
}

/* Select dropdown */

/* input type file design */
/*.input-file .input-file-name {
  float: left;
  min-width: 274px;
  height: 40px;
  margin: 0 20px 0 0;
  padding: 8px 15px;
  border: 1px solid #ccc;
  color: #999;
  border-radius: 3px;
  font-size: 14px;
}
.input-file .input-file-sub {
  position: relative;
  float: right;
  width: 215px;
  height: 40px;
  cursor: pointer;
}
.input-file .input-file-sub:before {
  background: #8a8a8a;
  border-radius: 3px;
  color: #fff;
  content: "Browse";
  font-size: 16px;
  height: 100%;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
.input-file input {
  height: 100%;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}*/
/* End of input file design */

/* Error message */
.messages.error ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* End */

/**
 * Rightside bar
 */

/* User login  */
#block-user-login .block-title {
  margin: 0 0 15px 0;
  color: #C6C6C6;
  font-family: OpenSans-Bold;
  font-size: 32px;
}
#user-login-block-form-fields > ul { display: none; }
#user-login-block-form-fields  .form-actions {
  padding-bottom: 0;
  margin: 0;
}
#user-login-block-form-fields .captcha {
  display: inline-block;
  width: 100%;  
}
#user-login-block-form-fields .captcha img { margin-bottom: 15px; }
.register-now {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  margin: 30px 0 0 0;
  border-top: 2px dotted #ccc;
  color: #022B69;
  text-align: center;
  font-size: 18px;
}
.register-now a {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  background-color: #066CFF;
  color: #fff;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.form-item-remember-me {
  float: left;
  margin: 15px 0;
}
.forget-pass {
  float: right;
  margin: 15px 0;
}
.form-item-remember-me label,
.forget-pass a {
  font-size: 14px;
  color: #999;
}
/* End */

#block-views-testimonials-block-1 {
  margin-top: 45px;
}
#block-views-testimonials-block-1 .view-testimonials .views-row {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dotted #333;
  vertical-align: top;
  line-height: normal;
}
#block-views-testimonials-block-1 .view-testimonials .views-row.views-row-last {
  border-bottom: 0;
}
#block-views-testimonials-block-1 .view-testimonials .views-row .views-field-title a {
  padding: 0 0 10px 0;
  color: #3B454E;
  font-size: 18px;
  font-family: OpenSans-BoldItalic;
}
/* End */


/**
 * Registration page
 */
.page-user-register .custom-grid  > section.col-sm-9 {
  max-width: 800px;
  width: 100%
}
.page-user-register .custom-grid .right-sidebar {
  max-width: 370px;
  width: 100%;
}


/**
 * Profile page
 */
.view-user-profile .views-field-name .username {

}
/* End */


/**
 * Edit Profile page
 */
.group-user-profile-left,
.group-user-profile-right {
  float: left;
  width: 50%;
  padding-right: 130px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/*.group-user-profile-right { margin-right: 0; }*/
.group-user-profile-left .field-type-location fieldset {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.group-user-profile-left .field-type-location .panel-heading {
  display: none;
}
.group-user-profile-left .field-type-location .panel-body { padding: 0; }
.group-user-profile-left .field-type-location .panel-body input[type="text"] {
  width: 100%;
}
/* End */


/**
 * Dashboard page
 */
.user-profile-dashboard .username {
  display: inline-block;
  margin: 0 0 15px 0;
  color: #3e484a;
  font-family: OpenSans-Semibold;
  font-size: 22px;
}
.user-profile-dashboard .views-field-picture {
  float: left;
  margin: 0 30px 0 0;
}
.user-profile-dashboard .user-picture img {
  border: 2px solid #333;
}

/* End */



/**
 * Responsive design
 */

/* Small desktop monitor view */
@media screen and (max-width: 1200px) {

  /* Registration page */
  .page-user-register .custom-grid  > section.col-sm-9 {
    max-width: 600px;
    width: 100%
  }
  /* End */

  /* Home page */
  .home-about-quote .about-image,
  .home-about-quote .about-text { width: 100%; }
  .home-about-quote .about-image { margin: 0 0 20px 0;}
  /* End */

  /* footer */
  .footer #block-block-5 img { width: 100%; }
} /* 1200px */

/* Tablet and i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {
  
} /* 1024px */

/* Tablet and i-pad portrait view only */
@media screen and (max-width: 992px) {

  /* Home page */
   .page-home #block-md-slider-home-page-slider,
  .page-home .custom-grid .panels-flexible-region-first {
    width: 100%;
    margin-right: 0;
  }
  .page-home #block-user-login,
  .page-home .custom-grid .panels-flexible-region-last  { width: 100%; }
  .page-home .custom-grid .panels-flexible-region-last { text-align: center; }

  /* End */

  /* Registration page */
  .page-user-register .custom-grid  > section.col-sm-9 {
    max-width: 100%;
    width: 60%
  }
  .page-user-register .custom-grid .right-sidebar {
    max-width: 100%;
    width: 40%;
  }
  /* End */

  
} /* 992px */

/* Mobile landscape & portrait view */
@media screen and (max-width: 767px) {

  /* Registration page */
  .page-user-register .custom-grid  > section.col-sm-9,
  .page-user-register .custom-grid .right-sidebar {
    width: 100%;
  }
  /* End */
  
} /* 767px */

/* Mobile portrait view only */
@media screen and (max-width: 480px) {
  
} /* 480px */
