/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/**
 * Font face
 */
/* Open Sans */
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/opensans/OpenSans-Regular.woff);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/opensans/OpenSans-Bold.woff);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/opensans/OpenSans-ExtraBold.woff);
}
@font-face {
  font-family:OpenSans-Light;
  src: url(../fonts/opensans/OpenSans-Light.woff);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/opensans/OpenSans-Italic.woff);
}@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(../fonts/opensans/OpenSans-BoldItalic.woff);
}
@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url(../fonts/opensans/OpenSans-SemiboldItalic.woff);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/opensans/OpenSans-Semibold.woff);
}
/* End */

.inside,
.panel-flexible-inside .panels-flexible-region-inside,
.panel-flexible-inside .panels-flexible-region-inside-first,
.panel-flexible-inside .panels-flexible-region-inside-last {
  padding: 0;
}

body {
  color: #3e474c;
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: normal;
}
a:focus { outline: none; }

/**
 * Header
 */
#navbar {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 10px solid #E30E2B;
  background-color: #FFF;
  color: #1a3b8f;
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
#navbar .navbar-header {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 382px;
}
#navbar .region-top-header {
  float: left;
  width: -webki-calc(100% - 382px);
  width:   -moz-calc(100% - 382px);
  width:        calc(100% - 382px);
  padding: 40px 70px;
  color: #1a3b8f;
  font-family: OpenSans-Italic;
  font-size: 16px;
}
#navbar .navbar-collapse {
  float: left;
  clear: both;
  width: 100%;
  padding: 0;
  border-top: 1px solid #7c092a;
  border-bottom: 1px solid #7b0a28;
  /*background: #c10d3d;
  background: -moz-linear-gradient(top, #c10d3d 0%, #a00934 100%);
  background: -webkit-linear-gradient(top, #c10d3d 0%,#a00934 100%);
  background: linear-gradient(to bottom, #c10d3d 0%,#a00934 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10d3d', endColorstr='#a00934',GradientType=0 );*/
  background-color: #E30E2B;
  color: #fff;
}
#navbar .navbar-collapse > nav {
  /*border-top: 1px  solid rgba(123, 10, 40, 0.7);*/
}

#block-system-main-menu > .block-title {
  display: none;
}

/* Navigation menu */
.tb-megamenu {
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.tb-megamenu .nav-collapse,
.tb-megamenu .dropdown-menu {
  background-color: #E30E2B;
  color: #fff;
}
.tb-megamenu .dropdown-menu {
  width: 100%;
  border: none;
}
.tb-megamenu .tb-megamenu-nav {
  float: none;
  display: inline-block;
  width: auto;
  margin: 0;
  line-height: normal;
  vertical-align: middle;
}
.tb-megamenu .tb-megamenu-nav li {
  float: left;
  display: inline-block;
}
.tb-megamenu .tb-megamenu-nav li a {
  display: inline-block;
  width: 100%;
  padding: 12px 22px;
  border: 0;  
  color: #fff;
  font-size: 16px;
  line-height: normal;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: normal;
}
.tb-megamenu .tb-megamenu-nav li > a {
  min-height: 51px;
  background: url("../images/main-menu-divider.png");
  background-repeat:  no-repeat;
  background-position: right center;
  background-size:  2px 51px;
}
.tb-megamenu .tb-megamenu-nav li:nth-child(1) a:before {
  display: inline-block;
  height: 24px;
  width: 31px;
  margin: 0 10px -5px 0;
  background: url("../images/home-icon.png");
  background-repeat:  no-repeat;
  background-position:  right center;
  background-size:  auto 100%;
  content: "";
}
.tb-megamenu .mega > .mega-dropdown-menu {
  min-width: 100%;
}
.tb-megamenu .tb-megamenu-item:nth-child(3) .tb-megamenu-submenu .tb-megamenu-column {
  height: 100%;
  max-height: 460px;
  overflow-y: auto;
}

#block-views-80f5b3625a0821708f08af0155e6cf76 {
  float: right;
  display: inline-block;
  width: 100%;
  padding: 7px 0;
  background-color: #E30E2B;
  text-align: center;
  color: #fff;
  vertical-align: top;
}
#block-views-80f5b3625a0821708f08af0155e6cf76 .form-type-select:before {
  background: transparent;
}
#block-views-80f5b3625a0821708f08af0155e6cf76 * {
  padding: 0;
  margin: 0;
}
#block-views-80f5b3625a0821708f08af0155e6cf76 .views-exposed-form .views-exposed-widget {
  width: 100%;
  padding: 0;
}
#block-views-80f5b3625a0821708f08af0155e6cf76 .chosen-container,
#block-views-80f5b3625a0821708f08af0155e6cf76 .chosen-container a {
  min-height: auto;
  height: auto;
  width: 100% !important;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #fff;
}

.tb-megamenu .tb-megamenu-nav li:last-child a {
  background: transparent;
}
.tb-megamenu .nav li a:focus,
.tb-megamenu .nav li a:hover,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #c2020e;
  color: #fff;
  text-decoration: none;
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {
  background-color: #c2020e !important;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
  margin-top: 11px;
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.tb-megamenu .tb-megamenu-nav .tb-megamenu-item .mega-inner {
  padding: 0;
}
.tb-megamenu .tb-megamenu-nav .tb-megamenu-item .mega-inner .tb-block {
  margin: 0;
}
/* End */


/**
 * Image slider and Login form
 */
.page-home .page-header { display: none; }
.home-slider-form {
  display: inline-block;  
  width: 100%;
}
.page-home #block-md-slider-home-page-slider,
.page-home .custom-grid .panels-flexible-region-first {
  float: left;
  width: -webkit-calc(75% - 20px);
  width:    -moz-calc(75% - 20px);
  width:         calc(75% - 20px);
  margin: 0 20px 0 0;
}
.page-home #block-user-login {
  float: left;
  width: 25%;
  margin: 0;
  padding: 15px;
  border: 1px solid #b0b0b0;
}
.page-home .custom-grid .panels-flexible-region-last {
  float: left;
  width: 25%;
  margin: 0;
}
.page-home .custom-grid .panels-flexible-region-last img {
  height: auto;
  width: 100%;
  max-width: 295px;
}
.home-slider-form .panels-flexible-region-last ul {
  padding: 0;
  list-style: none;
}
.home-slider-form .panels-flexible-region-last li a {
  color: #AFAFAF;
}
.logged-in #block-md-slider-home-page-slider {
  width: 100%;
  margin: 0 0 20px 0;
}
.logged-in .md-slide-wrap {
  /*max-height: 300px !important;
  width: 100%;*/
}
.logged-in #block-md-slider-home-page-slider img {
}

/* Not Login user page*/
.user-picture img {
  float: left;
}
.submitted >  span {
  display: none;
}


/* News slider */
#block-views-lasted-news-block {
  display: inline-block;
  width: 73%;
  margin-top: -48px;
  margin-bottom: 30px;
}
.logged-in #block-views-lasted-news-block {
  width: 100%;
  margin-top: 0;
}
#block-views-lasted-news-block .views-view-simplyscroll {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #021220; 
  padding: 0;
  border:6px solid #D1D1D1;
}
#block-views-lasted-news-block .simply-scroll {
  float: left;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
}
#block-views-lasted-news-block .simply-scroll .simply-scroll-btn {
  top: 0;
  right: 0;
  width: 41px;
  height: 36px;
  border-left: 6px solid #D1D1D1;
  background-color: #0089CC;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center;
}
#block-views-lasted-news-block .simply-scroll .simply-scroll-btn-pause {
  background-image: url("../images/pause_white.png");
}
#block-views-lasted-news-block .simply-scroll .simply-scroll-btn-pause.active {
  background-image: url("../images/play_white.png");
}
#block-views-lasted-news-block .simply-scroll-clip {
  float: left;
  display: inline-block;
  width: 100%;
  height: auto;
}
#block-views-lasted-news-block .simply-scroll-clip div.simply-scroll-list {
  float: left;
  display: block;
  width: 100%;
  height: 36px;
}
#block-views-lasted-news-block .simply-scroll-clip ul.simply-scroll-list {
  float: left;
  display: inline-flex;
  width: auto;
  height: 36px;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li {
  float: left;
  display: inline-flex;
  width: auto;
  height: 36px;
  padding: 10px 15px;
  border-right: 6px solid #fff;
  text-align: center;
  text-transform: capitalize;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li .views-field {
  float: left;
  display: inline-block;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li:hover {
  background-color: #0094DD;
  color: #FFF;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li:hover * {
  color: #FFF;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li:hover a span {
  border-color: #fff;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li a {
  float: left;
  display: inline-block;
  margin-top: -2px;
  color: #0094DD;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}
#block-views-lasted-news-block .simply-scroll-clip .simply-scroll-list li a span {
  margin: 0 7px 0 0;
  padding: 0 7px 0 0;
  border-right: 2px solid #FF3333;
  color: #FF3333;
  font-weight: bold;
}
/* End */



/**
 * About Us and Get a Quote
 */
.pane-title {
  margin: 0 0 25px 0;
  color: #3e474c;
  font-family: OpenSans-bold;
  font-size: 22px;
}
.home-about-quote {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first {
  float: left;
  width: calc(75% - 20px);
  margin: 0 20px 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-block-1 {
  display: inline-block;
  width: 100%;
}
.home-about-quote .about-image {
  float: left;
  margin-right: 30px;
  width: -webkit-calc(60% - 30px);
  width:    -moz-calc(60% - 30px);
  width:         calc(60% - 30px);}
.home-about-quote .about-text {
  float: right;
  width: 40%;
  color: #3e474c;
  font-size: 15px;
  line-height: 25px;
}
.home-about-quote .panels-flexible-region-first .pane-block-1 img {
  max-width: 470px;
  width: 100%;
  height: auto;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 {
  display: inline-block;
  width: 100%;
  margin: 20px 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .pane-content {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content {
  display: inline-block;
  width: 100%;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content .views-row {
  float: left;
  display: inline-block;
  width: 32%;
  margin: 0 2% 0 0;
}
.home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content .views-row:last-child {
  margin-right: 0;
}
.home-about-quote .panels-flexible-region-last {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
.about-image {
  float: left;
}
.home-about-quote .about-text h2 {
  margin: 0;
  color: #4174c5;
  font-size: 24px;
}
.title-info {
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  margin: -3px 0 10px;
  color: #666666;
  font-size: 12px;
  vertical-align: top;
  background-image: url('../images/dooted-line.png');
  background-size: 313px 3px;
  background-repeat: repeat-x;
  background-position: left bottom;
  content: "";
}
.views-more-link {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 130px;
  padding: 10px 15px;
  margin: 20px 0 0 0;
  background-color: #E2EBF2;
  color: #274472;
  clear: both;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px #BFC8D7;
     -moz-box-shadow: 0 2px #BFC8D7;
          box-shadow: 0 2px #BFC8D7;
  transition: none 0s ease 0s;
}
.views-more-link:hover {
   -webkit-box-shadow: 0 1px #BFC8D7;
      -moz-box-shadow: 0 1px #BFC8D7;
           box-shadow: 0 1px #BFC8D7;
  top: 1px;
}
.views-more-link:focus,
.views-more-link:active {
   -webkit-box-shadow: 0 0px #BFC8D7;
      -moz-box-shadow: 0 0px #BFC8D7;
           box-shadow: 0 0px #BFC8D7;
  top: 2px;
}
.views-more-link:after {
  display: inline-block;
  height: 10px;
  width: 7px;
  margin: 0 0 0 5px;
  background-image: url('../images/right-arrow.png');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: right center;
  content: "";
}
.views-more-link:hover,
.views-more-link:focus {
  text-decoration: none;
}
.passport-size-photo > img {
  float: left;
  margin-right: 10px;
}

/* Get a Quote */
.get-a-qoute {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border: 1px solid #b0b0b0;
}
.get-a-qoute .pane-title {
  padding: 20px 20px 10px;
  margin: 0;
  background-color: #1a3b8f;
  color: #fff;
  font-family: Arial;
  font-size: 26px;
  text-align: center;
}
.get-a-qoute .pane-content {
  padding: 20px;
  background-color: #1a3b8f;
}
.get-a-qoute label { display: none; }
.get-a-qoute .pane-content input {
  border: none;
  min-height: 34px;
}
.get-a-qoute  textarea {
  max-height: 90px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.get-a-qoute .captcha img {
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.get-a-qoute .captcha .help-block {
  color: #fff;
}
.get-a-qoute .pane-content .form-submit {
  background-color: #63B2F5;
}
/* End */
  
/* How it Works? */
.pane-views-how-it-works-block-1 .views-field-title {
  display: inline-block;
  width: 100%;
  padding: 25px 0 0 0;
}
.pane-views-how-it-works-block-1 .views-field-title span {
  color: #0dc9f7;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.pane-views-how-it-works-block-1 .views-field-title .Step-2--Exchange { color: #d9b69b; }
.pane-views-how-it-works-block-1 .views-field-title .Step-3--Deal-Close { color: #e05b5b; }
.pane-views-how-it-works-block-1 .views-field-field-growth {
  display: inline-block;
  width: 100%;
  padding: 0 0 25px 0;
  color: #b2b2b2;
  font-family: arial;
  font-size: 13px;
}
.pane-views-how-it-works-block-1 .views-field-body {
  line-height: 25px;
}
.pane-views-how-it-works-block-1 .views-field-body .views-more-link {
  display: block;
}
/* End */


/**
 * Footer
 */
.footer {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  border-top: 10px solid #E30E2B;
  background-color: #FFF;
  color: #1a3b8f;
}
.footer a:before {
  display: inline-block;
  height: 10px;
  width: 7px;
  margin: 0 5px 0 0;
  background-image: url('../images/footer-arrow.png');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: right center;
  font-family: Arial;
  content: "";
}
.footer a {
  color: #1a3b8f;
}
.footer .nav > li > a {
  display: inline-block;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.footer li a:hover,
.footer li a:focus {
  background-color: transparent;
}
.footer .nav .open > a,
.footer .nav .open > a:focus,
.footer .nav .open > a:hover {
  background-color: transparent;
  opacity: 0.8;
}
.footer .region-footer {
  display: inline-block;
  width: 100%;
}
.footer .block-title {
  margin-top: 0;
  text-transform: uppercase;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.footer #block-block-5{
  float: left;
  width: 40%;
}
.footer #block-menu-menu-footer-link-1 {
  float: left;
  width: 60%;
}
.footer #block-menu-menu-footer-link-1 li {
  float: left;
  display: inline-block;
  width: 33%;
}
.footer .footer-full-container {
  display: inline-block;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #324F7B;
}
#block-block-7 p {
  font-size: 14px;
  opacity: 0.8;
}
/* End */


/**
 * Main content
 */
.main-white-header {
  display: inline-block;
  width: 100%;
  padding: 0
  background-color: #fff;
}
.main-grey-container {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  background-color: #f2f4f9;
  vertical-align: top;
}
.main-custom-content {
  float: left;
  /*width: calc(70% - 20px);
  margin: 0 20px 0 0;*/
  width: 100%;
}
.main-custom-content-right {
  float: left;
  width: 30%;
}
.main-custom-content-right .pane-block-6 img {
  width: 100%;
  height: auto;
}
.page-node-29 .alert.messages { display: none; }
em {
  font-style: normal;
}

/* Breadcrumb */
.breadcrumb {
  padding: 0;
  background-color: transparent;
}
.breadcrumb li {
  color: #959595;
  font-size: 13px;
}
.breadcrumb li a {
  color: #125fb0;
  font-size: 13px;
}

/* page title */
.page-header {
  margin: 0;
  color: #3B454E;
  border: none;
  font-family: OpenSans-ExtraBold;
  font-size: 30px;
  text-transform: uppercase;
}
.red-text {
  color: #E30E2B;
  padding-right: 10px;
}
/* End */

/* tab design */
.nav-tabs {
  margin: 0 0 30px 0;
  border: none;
}
.page-node .nav-tabs { display: none; }
.nav-tabs li {
  margin: 0 5px 0 0;
}
.nav-tabs li a {
  background-color: #e2eaf2;
  color: #274472;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
}
.nav-tabs li a:hover,
.nav-tabs li a.active,
.nav-tabs li a.active:hover {
  background-color: #63B2F5;
  color: #fff;
  border: none;
}

/* quicktabs tab design */
.quicktabs-tabs {
  display: inline-block;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
}
.quicktabs-tabs li {
  display: inline-block;
}
.user-profile-dashboard-link {
  display: inline-block;
  border-bottom: 3px solid gray;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.trade-profile-dashboard-link {}
ul.quicktabs-tabs li {
  display: inline-block;
  padding: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}
.quicktabs-tabs li a {
  display: inline-block;
  padding: 13px 15px;
  background-color: #e2eaf2;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.quicktabs-tabs li.active {
  border-bottom:1px solid #408fc4;
  box-shadow: none;
}
.quicktabs-tabs li.active a {
  background-color: #63B2F5;
  color: #fff;
}
.quicktabs-tabs li a:hover,
.quicktabs-tabs li a:focus { 
  text-decoration: none;
  opacity: 0.8;
}
#edit-timezone { display: none;}
/* End */

/* Form design */
.not-logged-in.page-user .form-item input.form-text {
  max-width: 265px;
  height: 40px;
}
.form-item .form-control {
  min-height: 40px;
  -webkit-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
    -moz-box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
         box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
}
input[type="file"] + .input-group-btn button {
  display: inline-block;
  width: auto;
}
.change-pass,
.btn,
#edit-actions #edit-cancel {
  height: 40px;
  max-width: 265px;
  width: 100%;
  padding: 6px 12px;
  margin: 3px 0;
  border: none;
  background-color: #1a3b8f;
  color: #fff;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.change-pass,
 #edit-actions #edit-cancel  {
  display: inline-block;
  padding: 8px 12px;
 }
.change-pass:hover,
.change-pass:focus,
#edit-actions #edit-cancel:hover,
#edit-actions #edit-cancel:focus {
  color: #fff;
  outline: none;
  opacity: 0.8;
  text-decoration: none;
 }
.btn:hover,
.btn:focus,
.btn:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-danger:active {
  background-color: #1a3b8f !important;
  color: #fff !important;
  outline: none;
  opacity: 0.8;
}
.btn-danger.disabled,
.btn-danger.active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active {
  background-color: #1a3b8f !important;
}
.btn-success.disabled,
.btn-success[disabled],
.btn-success.active,
.btn-success:focus,
.btn-success:hover,
.btn-success:active {
  background-color: #1a3b8f !important;
}

.form-type-password-confirm > label,
.form-textarea-wrapper .grippie { display: none; }
.form-item label {
  font-weight: normal;
  font-size: 15px;
}

/* Radio button*/
.form-radios .form-type-radio {
  display: inline-block;
  margin: 0 30px 0 0;
}
.input-rc {
  display: inline-block;
}
.form-type-radio label {
  padding: 0;
}
.form-type-radio input[type="radio"] {
  display: none;
}
.input-rc input[type="radio"] + .input-rc-span {
  float: left;
  display: inline-block; 
  height: 18px;
  width: 19px;
  margin: 3px 5px -3px 0;
  background: url('../images/radio.png');
  background-repeat: no-repeat;
  content: "";
  cursor:pointer;
}
.input-rc input[type="radio"]:checked + .input-rc-span {
  background: url('../images/radio-checked.png');
  background-repeat: no-repeat;
}

/* Commodity page radio butoon design */
.ctools-auto-submit-full-form .form-radios .form-type-radio {
  margin: 0 -1px 0 0;
  padding: 0;
}
.ctools-auto-submit-full-form .bef-select-as-radios {
  border-bottom: 5px solid #fff;
}
/*.ctools-auto-submit-full-form .form-radios .form-type-radio label {
  display: inline-block;
  padding: 10px 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background-color: #F3F4F9;
  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
}*/
/*.ctools-auto-submit-full-form .form-radios .form-type-radio label.radio-active {
  border-top: none;
  border-bottom: 1px solid #408fc4;
  background-color: #63B2F5;
  color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}*/
.ctools-auto-submit-full-form .form-radios .form-type-radio label {
  display: inline-block;
  padding: 10px 30px;
  border-top: 1px solid #fff;
  color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
}
.ctools-auto-submit-full-form .form-radios .form-type-radio:nth-child(2) label {
  background-color: #1a3b8f;
}
.ctools-auto-submit-full-form .form-radios .form-type-radio:nth-child(3) label {
  background-color: #E30E2B;
}
.ctools-auto-submit-full-form .form-radios .form-type-radio.active {}
.ctools-auto-submit-full-form .form-radios .form-type-radio .input-rc {
  width: 0;
  opacity: 0;
}
/* -------------------------------------- */

/* Checkbox button*/
.form-type-checkbox label { padding: 0; }
.form-type-checkbox input[type="checkbox"] {
  display: none;
}
.input-rc input[type="checkbox"] + .input-rc-span {
  float: left;
  display: inline-block; 
  height: 21px;
  width: 21px;
  margin: 0px 10px -7px 0;
  background: url('../images/chbox.png');
  background-repeat: no-repeat;
  content: "";
  cursor:pointer;
}
#user-login-form .input-rc input[type="checkbox"] + .input-rc-span {
  background: url('../images/login-chbox.png');
  background-repeat: no-repeat;
  margin: 0px 5px -7px 0;
}
.input-rc input[type="checkbox"]:checked + .input-rc-span {
  background: url('../images/chbox-checked.png');
  background-repeat: no-repeat;
}
#user-login-form .input-rc input[type="checkbox"]:checked + .input-rc-span {
  background: url('../images/login-chbox-checked.png');
  background-repeat: no-repeat;
}
/* Select dropdown */
.form-type-select {
  position: relative;
}
.form-type-select:before {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: 15px;
  bottom: 0;
  left: auto;
  width: 10px;
  height: 7px;
  border: 0;
  background: url("../images/select-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
.form-type-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -ms-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}


/* input type file design */
input[type="file"] { padding: 0; }
.input-file {
  display: inline-block;
  width: 100%;
}
.input-file .input-file-name {
  float: left;
  height: 40px;
  width: -webkit-calc(100% - 115px);
  width:    -moz-calc(100% - 115px);
  width:         calc(100% - 115px);
  margin: 0;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-right: 0;
  background-color: #fff;
  color: #999;
  font-size: 14px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
    -moz-box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
         box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
}
.input-file .input-file-sub {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin: 0 0 0 -5px;
  cursor: pointer;
}
.input-file .input-file-sub:before {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  content: "Browse";
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: 0 0 7px 7px rgba(223, 220, 214, 0.55) inset;
    -moz-box-shadow:  0 0 7px 7px rgba(223, 220, 214, 0.55) inset;
         box-shadow:  0 0 7px 7px rgba(223, 220, 214, 0.55) inset;
  text-shadow: 0px 2px 1px rgba(73, 73, 73, 0.3);

}
.input-file  .form-control {
  height: 100%;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}
.input-file + .input-group-btn button,
.form-type-managed-file .input-group-btn button {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.file-size + button {
  max-width: 150px;
  margin-left: 10px;
}
/* End of input file design */

/* Error message */
.messages.error ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* placeholder */
.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder {
  color: #9d9d9d;
  font-family: Arial;
  font-size: 14px;
}
/* End */

/**
 * Rightside bar
 */

/* User login  */
#block-user-login .block-title {
  margin: 0 0 25px 0;
  color: #c2c2c4;
  font-family: OpenSans-Bold;
  font-size: 32px;
}
#user-login-block-form-fields > ul { display: none; }
#user-login-block-form-fields  .form-actions {
  padding-bottom: 0;
  margin: 0;
}
#user-login-block-form-fields .captcha,
.captcha {
  display: inline-block;
  width: 100%;
}
#block-user-login .g-recaptcha iframe {
  width: 250px !important;
}
#user-login-block-form-fields .captcha img { margin-bottom: 15px; }
.register-now {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  margin: 30px 0 0 0;
  border-top: 2px dotted #b3b3b4;
  color: #022B69;
  text-align: center;
  font-size: 18px;
}
.register-now a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  background-color: #066CFF;
  color: #fff;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.register-now a:hover,
.register-now a:focus {
  opacity: 0.8;
}
.form-item-remember-me {
  float: left;
  margin: 5px 0 15px;
  font-family: Verdana;
  font-size: 12px;
}
.forget-pass {
  float: right;
  margin: 5px 0 15px;
  font-family: Verdana;
  font-size: 12px;
}
.form-item-remember-me label,
.forget-pass a {
  color: #a8a8a8;
  /*font-size: 14px;*/
  font-size: 12px;
  text-transform: capitalize;
}
/* End */

#block-views-testimonials-block-1 {
  margin-top: 45px;
}
#block-views-testimonials-block-1 .view-testimonials .views-row {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dotted #333;
  vertical-align: top;
  line-height: normal;
}
#block-views-testimonials-block-1 .view-testimonials .views-row.views-row-last {
  border-bottom: 0;
}
#block-views-testimonials-block-1 .view-testimonials .views-row .views-field-title a {
  padding: 0 0 10px 0;
  color: #3B454E;
  font-size: 18px;
  font-family: OpenSans-BoldItalic;
}
/* End */


/**
 * Registration page
 */
.page-user.not-logged-in .custom-grid  > section.col-sm-9 {
  max-width: 800px;
  width: 100%
}
.page-user.not-logged-in .custom-grid .right-sidebar {
  max-width: 370px;
  width: 100%;
}
.page-user.not-logged-in .custom-grid .right-sidebar img {
  width: 100%;
  height: auto;
}
/* End */

/**
 * Profile page
 */
.node-commodity,
.view-user-profile .views-field-view {
  float: left;
  display: inline-block;
  width: 100%;
  /*max-width: 600px;*/
  clear: left;
  margin: 30px 0 0;
  padding: 20px;
  background-color: #fff;
}
.node-commodity .field,
.view-user-profile .views-field-view .views-field {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px dashed #ccc;
  color: #000;
}
.node-commodity .field:last-child,
.view-user-profile .views-field-view .views-field:last-child { border: none; }

.node-commodity .field .field-label,
.view-user-profile .views-field-view .views-field .views-label {
  display: inline-block;
  max-width: 330px;
  width: 100%;
  font-family: OpenSans-Semibold;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: normal;
}
.node-commodity .field .field-items,
.view-user-profile .views-field-view .views-field .field-content {
  display: inline-block;
  width: -webkit-calc(100% - 340px);
  width:    -moz-calc(100% - 340px);
  width:         calc(100% - 340px);
  vertical-align: top;
}
.node-commodity .field .field-items img {
  width: 150px;
  height: auto;
}
/* view Commodities */
.view-countrywise-commodities .text-center {
  padding-top: 0;
  text-align: left;
}
.view-countrywise-commodities .view-header {
  font-size: 24px;
}
.view-countrywise-commodities .view-content table .views-field-delete-node a {
  color: #E30E2B;
}

/* Buy and sell container design */
.buy-main-container,
.sell-main-container {
  float: left;
  width: 47%;
  margin: 0 6% 0 0;
}
.sell-main-container {
  margin: 0;
}
.buy-main-container thead tr {
  /*background-color: #29296b;*/
  background-color: #1f45a7;
  color: #fff;
}
.sell-main-container thead tr {
  /*background-color: #ff5d6d;*/
  background-color: #de2c44;
  color: #fff;
}
.buy-main-container thead tr th,
.sell-main-container thead tr th {
  vertical-align: top;
}
.buy-main-container tbody tr,
.buy-main-container tbody tr a,
.sell-main-container tbody tr,
.sell-main-container tbody tr a {
  /*color: #fff;*/
}
.buy-main-container tbody tr:nth-of-type(2n+1) {
  background-color: #d9edf7;
}
.buy-main-container tbody tr.even {
  /*background-color: #AAD4FF;*/
}
.sell-main-container tbody tr:nth-of-type(2n+1) {
  background-color: #f2dede;
}
.sell-main-container tbody tr.even {
  /*background-color: #ff8a95;*/
}
.buy-main-container caption,
.sell-main-container caption {
  max-width: 160px;
  padding: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #fff;
  color: #fff;
  border-bottom: 1px solid #ddd;
  font-family: opensans-semibold;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
}
.buy-main-container caption {
  background-color: #1a3b8f;
}
.sell-main-container caption {
  background-color: #E30E2B;
}
/* End */

.view-footer .add-commodity {
  display: inline-block;
  width: 100%;
}
.view-footer .add-commodity a {
  float: right;
  display: inline-block;
  height: 40px;
  max-width: 300px;
  width: 100%;
  padding: 8px 12px;
  margin: 3px 0;
  border: none;
  background-color: #1a3b8f;
  color: #fff;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.view-footer .add-commodity a:hover,
.view-footer .add-commodity a:focus {
  text-decoration: none;
  opacity: 0.8;
}
.commodity-container {
  display: inline-block;
  width: 100%;
  margin: 0 0 20px 0;
}
.commodity-container .commodity-username {
  display: inline-block;
  margin-right: 10px;
  font-family: OpenSans-Bold;
  font-size: 30px;
  vertical-align: middle;
  text-transform: capitalize;
}
.commodity-container .userlink {
  display: inline-block;
  vertical-align: middle;
}
.commodity-container .userlink {
  font-size: 13px;
  line-height: normal;
  vertical-align: middle;
}
.page-dashboard .view-filters .form-type-radio:first-child {
  display: none;
}
.flag-waiting .flag-throbber,
.node-commodity-form .tabbable {
  display: none;
}
.views-table td.views-field-field-guarantee-stamp {
  font-size: 0;
}
.views-table td.views-field-field-guarantee-stamp .verified:after {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 0 0 10px;
  background-image: url('../images/verified.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  content: "";
  vertical-align: middle;
}
.views-table td.views-field-field-guarantee-stamp .verified,
.views-table td.views-field-field-guarantee-stamp .not-verified {
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
}

#edit-country-wrapper .form-type-select:before {
  top: 15px;
}
#edit_country_chosen {
  padding: 0;
  border: none;
  background:transparent;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: none;
}
#edit_country_chosen a {
  min-height: 40px;
  padding: 6px 12px;  
}
#edit_country_chosen a b {
  background: none;
}
#edit_country_chosen .chosen-results li {
  padding: 3px;
  text-align: left;
  font-size: 13px;
}
#edit_country_chosen .chosen-results li img {
  margin-right: 5px;
}
/* End */

/* List of commodities*/
.main-grey-container .region-content .view-list-of-commodities {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
.main-grey-container .region-content .view-list-of-commodities .views-row {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
}
.main-grey-container .region-content .view-list-of-commodities .views-row a {
  color: #1a3b8f;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
/* End */

/* Add commodities */
.group-add-commodity-left,
.group-add-commodity-center,
.group-add-commodity-right {
  float: left;
  display: inline-block;
  width: 29%;
  padding-right: 65px;
  margin-bottom: 30px;
}
.field-type-datetime .date-combo,
.group-add-commodity-left .field-type-location .location {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.group-add-commodity-left .field-type-location .panel-heading { display: none; }
.field-type-datetime .date-combo .panel-body,
.group-add-commodity-left .field-type-location .panel-body {
  padding: 0;
}
.field-type-datetime .date-combo .panel-heading {
  padding: 0;
  background-color: transparent;
  border: none;
}
.field-type-datetime .date-combo .panel-heading .panel-title {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
}
.field-type-datetime .date-combo .panel-body .control-label {
  display: none;
}
.field-type-datetime .date-combo .panel-body .date-no-float { width: 100%; }
.field-type-datetime .date-combo .panel-body .form-item {
  width: 100%;
  margin: 0;
}
.field-type-datetime .date-combo .panel-body .form-item .date-padding {
  width: 100%;
  padding: 0;
}
.field-type-datetime .date-combo .panel-body .form-item .date-date input {
  width: 100%;
  margin: 0;  
}
.group-add-commodity-right ~ .form-actions { clear: none; }
.group-add-commodity-right .form-checkboxes .control-label {
  font-family: OpenSans-Semibold;
  font-size: 13px;
}
.field-type-location .checkbox { display: none; }
.node-commodity-form #edit-field-quality-assaying-und .form-item-field-quality-assaying-und:nth-child(1) {
  display: none;
}
.node-commodity-form .group-list-of-documents {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
     -moz-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
          box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
}
.node-commodity-form .group-list-of-documents h3 {
  margin-top: 0;
  font-family: opensans-semibold;
  font-size: 20px;
  text-transform: uppercase;
}
.node-commodity-form .group-list-of-documents #field-any-other-document-add-more-wrapper .table-responsive {
  overflow: hidden;
}
.node-commodity-form .tabledrag-toggle-weight,
.node-commodity-form .field-multiple-drag {
  display: none;
}
.node-commodity-form .field-multiple-table,
.node-commodity-form table tr.draggable td {
  padding: 0;
  border: none;
}
.node-commodity-form table tr.draggable {
  display: inline-block;
  margin: 0 0 10px;
}
.node-commodity-form .field-multiple-table thead .field-label {
  border: none;
  padding: 0;
}
.node-commodity-form table tr.draggable label {
  float: left;
  margin: 0;
}
.node-commodity-form .field-type-text .field-add-more-submit {
  float: right;
  width: auto;
}
.node-commodity-form #edit-field-price-per-metric-ton label {
  width: auto;
}


/**
 * Edit Profile page
 */
.group-user-profile-left,
.group-user-profile-right {
  float: left;
  width: 50%;
  padding-right: 130px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.group-user-profile-left label,
.location .form-item label {
  width: 100%;
}
.group-user-profile-left .form-type-select .input-group {
  width: 100%;
}
.form-type-select .location_auto_country {
  width: 100%;
  -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
          border-radius: 4px !important;
}
.location .input-group-addon { display: none;}
.location_dropdown_province { margin-bottom: 15px; }
.group-user-profile-left .field-type-location fieldset {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.group-user-profile-left .field-type-location .panel-heading {
  display: none;
}
.group-user-profile-left .field-type-location .panel-body { padding: 0; }
.group-user-profile-left .field-type-location .panel-body input[type="text"] {
  width: 100%;
}
.form-item-field-state-und-0-re-geocode-location,
.form-item-field-state-und-0-delete-location { display: none; }
.help-block a { display: none; }
.group-user-profile-right ~ .form-actions { clear: none; }
.page-node-edit .field-type-location { margin-bottom: 0; }
/* End */


/**
 * Dashboard page
 */
.user-profile-dashboard .username {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px 0;
  color: #3e484a;
  font-family: OpenSans-Bold;
  font-size: 30px;
  text-transform: capitalize;
}
.user-profile-dashboard .views-field-picture {
  float: left;
  margin: 0 30px 0 0;
}
.user-profile-dashboard .user-picture {
  border: 2px solid #B6BABD;
}
.user-profile-dashboard .user-picture img {
  border: 4px solid #fff;
}
/* End */


/**
 * Thank you page
 */
.thanks-content {
  display: inline-block;
  width: 100%;
  padding: 50px 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
    -moz-box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
         box-shadow:  0 0 5px 1px rgba(223, 220, 214, 0.75) inset;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
.thanks-content .thank-text {
  font-family: OpenSans-ExtraBold;
  font-size: 30px;
}
.thanks-content p {
  font-size: 18px;
}
/* End */


/**
 * My wishlist page
 */
.my-wishlist .table > thead > tr {
  background-color: #F7E1E3;
}
.my-wishlist .view-content table tr td {
  font-family: OpenSans-Regular;
}
/* End */


/**
 * Trade Details page
 */
.main-trade-container {
  display: inline-block;
  width: 100%;
  max-width: 650px;
}
.main-trade-inner-container {
  display: inline-block;
  width: 100%;
  padding: 10px 15px 15px 30px;
  margin: 20px 0;
  border: 2px solid #ccc;

  background: #254472;
  background: -moz-linear-gradient(top,  #254472 0%, #114172 53%, #033f73 100%);
  background: -webkit-linear-gradient(top,  #254472 0%,#114172 53%,#033f73 100%);
  background: linear-gradient(to bottom,  #254472 0%,#114172 53%,#033f73 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254472', endColorstr='#033f73',GradientType=0 );
  color: #fff;
}
.main-title-container,
.main-trade-container {
  display: inline-block;
  width: 100%;
}
.main-title-container .trade-title-left { float: left; }
.main-title-container .trade-title-left .trade-title {
  margin: 0 0 15px;
  font-family: OpenSans-ExtraBold;
  font-size: 27px;
  text-transform: capitalize;
}
.main-title-container .trade-title-right {
  float: right;
  font-size: 13px;
}
.main-title-container .trade-title-right > div {
  display: inline-block;
}
.main-title-container .trade-title-right .yellow-dot {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 5px -2px 0;
  background-color: #EFA206;
  -webkit-border-radius: 1000px;
     -moz-border-radius: 1000px;
          border-radius: 1000px;
}
.main-title-container .trade-title-right .trade-status {
  font-family: OpenSans-Semibold;
}
.main-title-container .trade-title-right .trade-user {
  margin: 0 0 0 10px;
  color: #6DC1FF;
}
.main-title-container .trade-title-right .trade-user label {
  margin: 0 5px 0 0;
  font-weight: normal;
}
.main-trade-content .trade-content-left {
  float: left;
  width: 100%;
  max-width: 180px;
  margin: 0 30px 0 0;
}
.main-trade-content .trade-content-left .trade-img img {
  height: 110px;
  width: 170px;
  margin: 0 0 20px;
  border: 1px solid #172F51;
  border-radius: 2  px;
}
.main-trade-content .trade-content-left .trade-decline,
.main-trade-content .trade-content-left .trade-accept {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  border: 1px solid #fff;
  background-color: #21AA04;
  color: #fff;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  /*font-size: 20px;*/
}
.main-trade-content .trade-content-left .trade-decline {
  background-color: #AA0317;
  margin: 0;
}
.main-trade-content .trade-content-right {
  float: left;
  width: -webkit-calc(100% - 210px);
  width:    -moz-calc(100% - 210px);
  width:         calc(100% - 210px);
}
.main-trade-content .trade-content-right > div {
  margin: 0 0 5px;
}
.main-trade-content .trade-content-right label {
  display: inline-block;
  max-width: 110px;
  width: 100%;
  margin: 0;
  font-weight: normal;
  font-family: OpenSans-Semibold;
  font-size: 15px;
}
.main-trade-content .trade-content-right span {
  font-family: OpenSans-semiBold;
  font-size: 25px;
}
.main-trade-content .trade-content-right .trade-intention label {
  max-width: 150px;
}
.main-trade-content .trade-content-right .trade-intention span {
  display: inline-block;
  height: 40px;
  width: -webkit-calc(100% - 150px);
  width:    -moz-calc(100% - 150px);
  width:         calc(100% - 150px);
  background-color: #fff;
  vertical-align: middle;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.main-trade-content .trade-content-right .see-more {
  float: right;
  margin: -40px 0 0 0;
}
.main-trade-content .trade-content-right .add-to-wishlist {
  float: right;
  width: 100%;
  margin: 10px 0 0;
}
.main-trade-content .trade-content-right .flag-wrapper a,
.main-trade-content .trade-content-right .see-more a {
  float: right;
  padding: 5px 10px;
  border: 1px solid #C5DDE7;

  background: #e6f1f5;
  background: -moz-linear-gradient(top,  #e6f1f5 0%, #bedae6 100%);
  background: -webkit-linear-gradient(top,  #e6f1f5 0%,#bedae6 100%);
  background: linear-gradient(to bottom,  #e6f1f5 0%,#bedae6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f5', endColorstr='#bedae6',GradientType=0 );

  color: #005FA0;
  font-family: OpenSans-bold;
  font-size: 14px;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.main-trade-content .trade-content-right .see-more a:after {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url('../images/see-more.png');
  background-position: center right;
  background-repeat: no-repeat;
  content: "";
}
.main-trade-content .trade-content-right .see-more a:hover,
.main-trade-content .trade-content-right .see-more a:focus,
.main-trade-content .trade-content-right .flag-wrapper a:hover,
.main-trade-content .trade-content-right .flag-wrapper a:focus {
  text-decoration: none;
}
.page-trade-details .text-center {
  text-align: left;
}
/* End */


/**
 * Header commodities
 */
.head-comm {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px 1px rgba(223, 220, 214, 0.8);
  font-family: Arial;
  vertical-align: top;
}
.header-commodities {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.header-commodities .view-header,
.header-commodities .view-content {
  display: inline-block;
  width: auto;
  padding: 0;
}
.head-comm #block-views-home-page-ticker-block-1 {
  display: inline-block;
  width: 100%;
  padding: 10px 0 0;
  vertical-align: top;
}
/*.header-commodities .view-header .com-title {
  color: #668b97;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}
.header-commodities .view-header .com-date {
  color: #666666;
  font-size: 11px;
}
.header-commodities .view-header .comm-date {
  color: #666666;
  text-transform: uppercase;
  font-size: 12px;
}*/

.header-commodities .view-content .views-row {
  float: left;
  display: inline-block;
  min-height: 51px;
  min-width: 160px;
  padding: 0 10px;
  background-image: url('../images/head-comm-divider.png');
  background-size: 3px 51px;
  background-position: center right;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}
/*.header-commodities .view-content .views-row.views-row-last {
  background-image: none;
}*/
.header-commodities .view-content .views-row .views-field-title a {
  color: #002f74;
  font-size: 12px;
}
.header-commodities .view-content .views-row .views-field-field-total-quantity {
  color: #666;
  font-size: 11px;
}
.header-commodities .view-content .views-row .views-field-field-price-per-metric-ton {
  color: #E30E2B;
  font-weight: bold;
}


/**
 * Career 
 */
.page-node-3 #block-views-careers-listing-block {
  float: left;
  width: 50%;
  margin-right: 5%;
}
.page-node-3 #block-webform-client-block-92 {
  float: right;
  width: 45%;
}
.career-listing .ui-accordion .views-row {
  margin-bottom: 7px;
}
.career-listing .ui-accordion .views-field-title {
  background: #1a3b8f;
  border: none;
}
.career-listing .ui-accordion .views-field-title a {
  color: #fff;
}
.career-listing .ui-accordion .ui-accordion-content .views-label {
  display: inline-block;
  margin-right: 3px;
  font-family: OpenSans-Bold;
}
.career-listing .ui-accordion .ui-accordion-content .field-content {
  display: inline-block;
}
.career-listing .ui-accordion .ui-accordion-content .views-field-body {
  margin-top: 10px;
  font-size: 15px;
}
/* End */

.buyer-name,
.seller-name {
  margin: 0 0 10px;
}
.seller-name {
  margin-bottom: 20px;
}
.buyer-name span,
.seller-name span {
  display: inline-block;
  width: 100px;
  font-family: OpenSans-Semibold;
}

/* Create quote*/
.page-node-add-testimonials #testimonials-node-form, #news-node-form, #report-node-form {
  width: 45%;
}
.page-node-add-testimonials #testimonials-node-form .form-textarea {
  max-height: 130px;
}

/* Contact us */
#block-block-8 {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
  width: 100%;
  max-width: 412px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
}
#block-block-8 h2 {
  font-size: 26px;
}



/**
 * Responsive design
 */

/* Small desktop monitor view */
@media screen and (max-width: 1200px) {
  /* Header */
  /*#navbar .region-top-header { padding: 20px; }*/
  .tb-megamenu .tb-megamenu-nav li a {
    padding: 12px 18px;
  }
  /* End */

  /* Registration page */
  .page-user.not-logged-in .custom-grid  > section.col-sm-9 {
    max-width: 100%;
    width: 60%
  }
  .page-user.not-logged-in .custom-grid .right-sidebar {
    max-width: 100%;
    width: 40%;
  }
  /* End */

  /* Home page */
 /* .home-about-quote .about-image,
  .home-about-quote .about-text { width: 100%; }
  .home-about-quote .about-image { margin: 0 0 20px 0;}*/

  .page-home #block-md-slider-home-page-slider,
  .page-home .custom-grid .panels-flexible-region-first {
    width: -webkit-calc(70% - 20px);
    width:    -moz-calc(70% - 20px);
    width:         calc(70% - 20px);
  }
  .logged-in #block-md-slider-home-page-slider { width: 100%; }
  .page-home #block-user-login,
  .page-home .custom-grid .panels-flexible-region-last {
    width: 30%;
  }
  /* End */

  /* footer */
  .footer #block-block-5 img {
    width: 100%;
    max-width: 230px;
  }
} /* 1200px */

/* Tablet and i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {
  #navbar .region-top-header {
    padding-right: 30px;
    padding-left: 30px;
  }
} /* 1024px */

/* */
@media only screen and (min-width : 992px) and (max-width : 1024px) {
  .get-a-qoute .pane-title { font-size: 28px; }
}

/* Tablet and i-pad portrait view only */
@media screen and (max-width: 992px) {

  /* Header */
  #block-system-main-menu .menu li a {
    padding: 15px;
    font-size: 16px;
  }
  /* End */

  /* Footer */
  .footer #block-block-5 { width: 40%; }
  .footer #block-menu-menu-footer-link-1 { width: 60%; }
  .footer #block-menu-menu-footer-link-1 li {
    width: 50%;
  }
  /* End */

  /* Home page */
  .page-home #block-md-slider-home-page-slider,
  .page-home .custom-grid .panels-flexible-region-first {
    width: 100%;
    margin-right: 0;
  }
  .page-home #block-user-login,
  .page-home .custom-grid .panels-flexible-region-last { width: 100%; }
  .page-home .custom-grid .panels-flexible-region-last { text-align: center; }

  .region-front-slider { text-align: center; }
  .page-home #block-user-login {
    float: none;
    display: inline-block;
    max-width: 400px;
    margin-top: 30px;
  }
  .get-a-qoute {
    max-width: 400px;
    margin-top: 30px;
  }
   #block-user-login .btn,
  .get-a-qoute .btn {
    max-width: 100%; 
  }
  /* End */

  /* Registration page */
  .nav-tabs li a {
    padding: 10px;
    font-size: 14px;
  }
  /* End */

  /* Profile page */
  .view-user-profile .views-field-view .views-field {
    font-size: 14px;
  }
  .view-user-profile .views-field-view .views-field .views-label {
    max-width: 300px;
  }
  .view-user-profile .views-field-view .views-field .field-content {
    width: -webkit-calc(100% - 310px);
    width:    -moz-calc(100% - 310px);
    width:         calc(100% - 310px);
  }
  /* End */

  /* Add Commodity */
  .group-add-commodity-left,
  .group-add-commodity-center,
  .group-add-commodity-right {
    width: 33.33%;
    padding-right: 30px;
  }
  /* End */

  /* Edit Profile page */
  .group-user-profile-left,
  .group-user-profile-right {
    padding-right: 70px;
  }
  /* End */

} /* 992px */

@media screen and (max-width: 980px) {
  .tb-megamenu .btn-navbar {
    float: right;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 30px;
  }
  .tb-megamenu .btn-navbar:hover,
  .tb-megamenu .btn-navbar:focus {
    background: none;
  }
  .tb-megamenu .tb-megamenu-nav li {
    float: left;
    width: 100%;
    text-align: left;
  }
   #block-system-main-menu .menu li a {
    width: 100%;
    background-image: none;
  }
  .tb-megamenu .tb-megamenu-nav li > a {
    background-image: none;
    border: none !important;
  }
  .tb-megamenu .nav li a:focus,
  .tb-megamenu .nav li a:hover,
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #c2020e !important;
    color: #fff !important;
    text-decoration: none;
  }
  .tb-megamenu .nav > .active > a,
  .tb-megamenu .nav > .active > a:hover,
  .tb-megamenu .nav > .active > a:focus {
    background-color: #c2020e !important;
  }
  
}


/* Mobile landscape & portrait view */
@media screen and (max-width: 767px) {
  .main-custom-content,
  .main-custom-content-right {
    width: 100%;
    margin: 0;
  }
  .main-custom-content-right { margin-top: 50px; }

  /* Header */
  #navbar .navbar-header {
    max-width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
  }
  #navbar .navbar-header .logo {
    float: none !important;
  }
  #navbar .region-top-header {
    width: 100%;
    padding: 30px 0;
  }
  .navbar-collapse.collapse { display: inline-block;}
  .tb-megamenu .nav-collapse { 
    float: left;
    width: calc(100% + 30px);
    margin: 14px -15px 0; 
  }
  .navbar-default .navbar-toggle { display: none; }
  /* End */

  /* Footer */
  .footer #block-block-5,
  .footer #block-menu-menu-footer-link-1 { width: 100%; }
  .footer #block-menu-menu-footer-link-1 { margin-top: 50px; }
  /* End */

  /* Registration page */
  .page-user.not-logged-in .custom-grid  > section.col-sm-9,
  .page-user.not-logged-in .custom-grid .right-sidebar {
    width: 100%;
  }
  .page-user-register .custom-grid .right-sidebar { margin-top: 50px; }
  /* End */

  /* Home page */
  .home-about-quote .panels-flexible-region-first .pane-block-1 img {
   /* width: 100%;
    margin: 0;*/
  }
  .home-about-quote .panels-flexible-region-first .pane-views-how-it-works-block-1 .view-content .views-row {
    width: 100%;
    margin: 0 0 40px;
  }
  /* End */

  /* Add Commodity */
  .group-add-commodity-left,
  .group-add-commodity-center,
  .group-add-commodity-right {
    width: 100%;
  }
  /* End */

  /* Edit Profile page */
  .group-user-profile-left,
  .group-user-profile-right {
    width: 100%;
    padding-right: 0;
  }
  /* End */
  /* Buy and sell container design */
  .buy-main-container,
  .sell-main-container {
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
  }
  /* Career */
  .page-node-3 #block-views-careers-listing-block,
  .page-node-3 #block-webform-client-block-92 {
    width: 100%;
    margin: 0 0 20px 0;
  }
  /* */
  .page-node-add-testimonials #testimonials-node-form,
  #news-node-form, #report-node-form {
    width: 100%;
  }

} /* 767px */

/* Mobile portrait view only */
@media screen and (max-width: 480px) {

  /* Header */
   #navbar .navbar-header .logo {
    float: none !important;
    margin: 0;
    padding: 0;
  }
  #navbar .navbar-header .logo img {
    width: 100%;
    max-width: 298px;
    height: auto;
  }
  /* End */

  /* Footer */
  .footer #block-menu-menu-footer-link-1 li {
    width: 100%;
  }
  /* End */

  /* Home page */
   .home-about-quote .about-text {
    width: 100%;
    margin: 20px 0 0 0;
  }

   /* Profile page */
  .view-user-profile .views-field-view .views-field .views-label,
  .view-user-profile .views-field-view .views-field .field-content {
    width: 100%;
  }
} /* 480px */
